body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
}

main {
    padding: 3rem 2rem;
}

#cards {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    gap: 2.5rem;
}

section {
    border: 3px  #5b6c7d;
    border-radius: 15px;
    padding: 1rem;
    /* Adicionando box-shadow para efeito de elevação */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbe9f3;
}

h2{
    font-size: 2rem;
    font-weight: 600;
    color: #141b23;
}

.place{
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

