:root{
    --blue: #071B30;
    --yellow: #F9B500;
    --red: #8E1C04;

/* change the values below to your chosen font(s) */
--text-font: 'Love Ya Like A Sister', cursive;
}

html{
    display: flex;
    justify-content: center;
}

body{
    font-family: var(--text-font);
    width: 800px;
}

header{
    background: var(--red);
    color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

header img{
    width: 112px;
    margin-right: 2rem;
}

nav{
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 2rem; */
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}

nav li{
    margin: 0.5rem;
    height: 1.75rem;
}

nav a{
    color: #F9B500;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;

    
}

nav a:hover {
    font-size: 1.2rem;
    transition: 100ms;
    font-weight: bold;

}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem 0 5rem;

}

.hero{
    max-width: 800px;
    position: relative;

}

.hero img{
    width: 100%;
	object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0,0,0,.75);
    padding: 0.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    border-radius: 0.75rem;
}

.herolabel p {
    margin: 0;
    padding: 0.25rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: "Great Vibes", serif;
}

h2{
    margin-top: 1rem;
        font-size: 1rem;
    border-bottom: 3px solid #DCDCDC;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 1fr;
    flex-direction: column;
    font-size: 1rem;
    border: 2px solid #DCDCDC;
    border-radius: 1rem;
    width: -webkit-fill-available;
}

.card h3{
    background-color: var(--blue);
    color: var(--yellow);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin: 0;

}


.card h4{
    padding: 1.5rem 1rem;
    text-align: center;
}



nav ul {
    list-style-type: none;
}

.card ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 1.5rem 1rem;
    color: var(--blue);
    margin-top: 0;
}

.card li{
    display: flex;
}

.card li a{
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    background-color: #071B30;
    color: var(--yellow);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10rem;
}

.flag{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img{
    width: 48px;
    margin-left: 12px;
}

.currentYearDiv{
    display: flex;

}

.currentYear{
    margin-left: 0.5rem;
}

.ulFromNav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

ul li p, ul li a{
    margin: 8px;
}


/* Novo */

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.75rem 10% ;
    background-color: #eee;
    color: #000;
}

#menu::before {
	content: "≡";
}


.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
    width: 100%;
    transition: 0.5s;
}

.navigation li:hover{
    margin: 0;
    padding: 0.5rem;
}

.navigation a {
	display: block;
    text-align: center;
	text-decoration: none;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

.mapDiv{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

iframe{
    width: 100%;
    height: 300px;
    padding: 0 1rem;
}