:root{
    --blue: #071B30;
    --yellow: #F9B500;
    --red: #8E1C04;

/* change the values below to your chosen font(s) */
--text-font: 'Love Ya Like A Sister', cursive;
}

html{
    display: flex;
    justify-content: center;
}

body{
    font-family: var(--text-font);
    width: 630px;
}

header{
    background: var(--red);
    color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

header img{
    width: 7rem;
    margin-right: 2rem;
}

nav{
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}

nav li{
    margin: 0.5rem;
    height: 1.75rem;
}

nav a{
    color: #F9B500;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;

    
}

nav a:hover {
    font-size: 1.2rem;
    transition: 100ms;
    font-weight: bold;

}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem 0 5rem;

}

h2{
    margin-top: 2rem ;
    font-size: 1rem;
    border-bottom: 3px solid #DCDCDC;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    font-size: 1rem;
    border: 2px solid #DCDCDC;
    border-radius: 1rem;
    width: -webkit-fill-available;
    margin-top: 2rem;
}

.card h3{
    background-color: var(--blue);
    color: var(--yellow);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}


.card h4{
    padding: 1.5rem 1rem;
    text-align: center;
}



nav ul {
    list-style-type: none;
}

.card ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 1.5rem 1rem;
    color: var(--blue);
}

.card li{
    display: flex;
}

.card li a{
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    background-color: #071B30;
    color: var(--yellow);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flag{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 3rem;
    margin-left: 0.75rem;
}